@model poligono.Models.Posizioni

@{
    ViewBag.Title = "Mappa";
}

<div id="demoMap" class="container body-content"></div>
<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
<script type="text/javascript">
    alert("sono visibile");
    map = new OpenLayers.Map("demoMap");
    map.addLayer(new OpenLayers.Layer.OSM());
    map.zoomToMaxExtent();
</script>
